<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DrinkIn</title>
    <script src="~/Scripts/Custom/JavaScript.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @if (ViewBag.IsIndexView == true)
    {
        @Styles.Render("~/Content/css/GeneralStyles")
    }
    else if (ViewBag.IsLoginView == true)
    {
        @Styles.Render("~/Content/css/GeneralStyles");

        <style>
            body {
                background: url('../../Media/night_street.jpg') no-repeat;
                background-size: cover;
            }
        </style>
    }
    else if (ViewBag.IsMapView == true)
    {

    }
</head>
<body>

    <!--Дороу, sooqa

       yo bitcj!
       are you ahueli tam?


       nope
     ______ ____  _      _      ______          __  _____          __  __ _   _   _______ _____            _____ _   _      _____     _ _
    |  ____/ __ \| |    | |    / __ \ \        / / |  __ \   /\   |  \/  | \ | | |__   __|  __ \     /\   |_   _| \ | |    / ____|   | | |
    | |__ | |  | | |    | |   | |  | \ \  /\  / /  | |  | | /  \  | \  / |  \| |    | |  | |__) |   /  \    | | |  \| |   | |        | | |
    |  __|| |  | | |    | |   | |  | |\ \/  \/ /   | |  | |/ /\ \ | |\/| | . ` |    | |  |  _  /   / /\ \   | | | . ` |   | |    _   | | |
    | |   | |__| | |____| |___| |__| | \  /\  /    | |__| / ____ \| |  | | |\  |    | |  | | \ \  / ____ \ _| |_| |\  |_  | |___| |__| |_|
    |_|    \____/|______|______\____/   \/  \/     |_____/_/    \_\_|  |_|_| \_|    |_|  |_|  \_\/_/    \_\_____|_| \_( )  \_____\____/(_)
                                                                                                                      |/
                                                                                              _____ _    _ _____  ______ _  __
                                                                                             / ____| |  | |  __ \|  ____| |/ /
                                                                                            | (___ | |__| | |__) | |__  | ' /
                                                                                             \___ \|  __  |  _  /|  __| |  <
                                                                                             ____) | |  | | | \ \| |____| . \
                                                                                            |_____/|_|  |_|_|  \_\______|_|\_\
                              _________________________
                             /                         |
                             |    KEK                  |
                             |   Somebody once told me /
                             |                        /
           *          *      |   ____________________/
          ***        ***    /   /
        ___\\________//___  \  /
       /                  \ / /
       |                   ||/
       |   _        _      |
       |  |_|      |_|     |                  <------------------------- SHREK
       |       ==          |
       \     -------      /
        \                /
         \--------------/

           -->
    <!-- Navigation bar -->
    @Html.Partial("Partials/_NavbarPartial")

    <!-- Partial body -->
    @RenderBody()
    <hr />
    @*-------------------------------------------------------------

           333------
        33333333
        00 00 00*@


    <!-- Footer of the page-->
    @Html.Partial("Partials/_FooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
